includeConfig 'config/base.config'
process.beforeScript = 'source $HOME/.bashrc'

docker.enabled = true

params {
    // input
    // Input values are in nf script 
	
    // source python file
    src = "/home/ubuntu/SG_mitchondria_seq/src"
	
    // output
    outdir = '/mnt/mito/results'
    publishdir = "${params.outdir}/Platinum/Nanopore/chm13v2/result"
    infodir = "${params.outdir}/Platinum/Nanopore/chm13v2/pipeline_info"
    // help
    help = null
}

trace {
    enabled = true
    file = "${params.infodir}/trace.txt"
}

timeline {
    enabled = true
    file = "${params.infodir}/timeline.html"
}

dag {
    enabled = true
    file = "${params.infodir}/dag.pdf"
}

report {
	enabled = true
    file = "${params.infodir}/report.html"

}

profiles {
	
    local {
	process.executor = 'local'
    }
    acrc {
        process.executor = 'slurm'
    }

}
