process {

    cpus   = 16 
    memory = 60.GB 
    time   = 240.h

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 2
        memory = 4.GB
        time   = 4.h 
    }
    withLabel:process_medium {
        cpus   = 16
        memory = 16.GB
        time   = 12.h
    }
    withLabel:process_high {
        cpus   = 16
        memory = 30.GB
        time   = 20.h 
    }
    withLabel:process_long {
        time   = 96.h 
    }
    withLabel:process_high_memory {
        memory = 200.GB 
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
